/* Bootstrap classes for styling */

/* Leaflet map container */
html, body {
  margin: 0;
  padding: 0;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pre-load:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e ;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
  }
  @keyframes animate-preloader {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

/* Hide nav bar */
.navbar {
  display: none;
}

select#countrySelect {
  width: 200px;
  margin: 0 auto;
}

select#countrySelect {
  position: absolute;
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; 
  width: 200px;
  margin: 0 auto;
}

#countrySelect {
  width: auto; /* Adjust as needed */
  margin-right: 10px; /* Space between select and button */
}

#selectContainer {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}
#map {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.bg-light {
  --bs-bg-opacity: 50%;
}

.p-3 {
  padding: 0.2rem!important;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
/* Styles for Loader Container */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above other content */
}

/*spinner */
.spinner-border {
  width: 3rem;
  height: 3rem;
}

/* Leaflet marker clusters styling */
.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.7); /* Customize cluster color */
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.7); /* Customize cluster color */
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.7); /* Customize cluster color */
}

/* Leaflet default marker icon styling */
.a leaflet-marker-icon {
  width: 25px; 
  height: 41px; 
  margin-left: -12px; /* Center the marker horizontally */
  margin-top: -41px; /* Center the marker vertically */
  background-image: url('../resources/leaflet/images/marker-icon.png'); 
  background-size: contain; /* marker image fits within the specific width and height */
  background-repeat: no-repeat; /* Prevent the marker image from repeating */
  cursor: pointer; /* Set cursor to pointer on hover */
}


/* Leaflet popup styling */
.leaflet-popup-content-wrapper {
  padding: 10px;
}

.leaflet-popup-content {
  max-height: 300px;
  overflow-y: auto;
}

/* Leaflet tooltip styling */
.leaflet-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 8px;
  color: #333;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(125, 11, 11, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* easy button css */
/* Center the icons */
.fa-globe::before {
  line-height: 1.5;
}

.fa-newspaper:before {
  line-height: 1.5;
}

.fa-wikipedia-w:before {
  line-height: 1.5;
}

.fa-exchange-alt:before {
  line-height: 1.5;
}

.fa-sun:before {
  line-height: 1.5;
}
.fa-circle-info:before {
  line-height: 1.5;
}


.leaflet-touch .leaflet-bar a {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.icon-container {
  background-color: white;
  padding: 5px; 
  border-radius: 5px;  
  box-shadow: 0 0 5px rgba(13, 189, 48, 0.3); 
}
.overlay-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 3px 5px;
  cursor: pointer;
}

/* News images*/
.news-image {
  height: 150px; 
  object-fit: cover; /* Maintain aspect ratio */
}

.weather-icon-large {
  width: 50px; /* or any size you prefer */
  height: 50px; /* keep the same value as width to maintain aspect ratio */
}